<div class="container-fluid body_colr">

  <div class="row">
    <div class="col-md-12">
      <h1 class="mt-3 mb-1">{{ title }}</h1>
    </div>
      <div class="col-md-3 mt-4">
        <mat-card>
          <div class="row">
            <div class="col-md-12">
              <h3>Filter</h3> 
              <p class="text-center underline m-0">Launch Year</p>
          </div>
          <div class="col-md-12 text-center mt-2">
              <button class="butn_filter butn_launch" *ngFor="let button of buttons" (click)="buttonClick(button)">{{button}}</button>
          
            </div>
          <div class="col-md-12 text-center mt-3">
            <p class="underline mb-2">Successful Launch</p>
            <button class="butn_filter btn_launch_status ">True</button>     <button class="butn_filter btn_launch_status">False</button>
          </div>
        <div class="col-md-12 text-center mt-3">
          <p class="underline mb-2">Successful Landing</p>
          <button class="butn_filter btn_landing_status ">True</button>     <button class="butn_filter btn_landing_status">False</button>
      </div>
          </div>
        </mat-card>
      </div>
      <div class="col-md-9">
        
          <div class="row">
            <div class="col-md-6 col-lg-3 mt-4" *ngFor="let dummyDatas of (dummyData | async)">
              <mat-card>
                <p><img src="{{dummyDatas.links.mission_patch}}" class="img-responsive w-100 image_style"></p>
                <p class="pl-2 blu_color"><b>fName</b> #{{dummyDatas.flight_number}}</p>
                <p class="pl-2"><b>Mission Ids: </b><span class="blu_color">{{dummyDatas.mission_id[0]}}</span></p>
                <p class="pl-2"><b>Launch Year: </b><span class="blu_color"> {{dummyDatas.launch_year}}</span></p>
                <p class="pl-2"><b>Successful Launch: </b><span class="blu_color">{{dummyDatas.launch_success}}</span></p>
                <p class="pl-2"><b>Successful Landing: </b><span class="blu_color">{{dummyDatas.rocket.first_stage.cores[0].land_success}}</span></p>
              </mat-card>
               
            </div>
           
        </div>
        <div class="row text-center">
            <h2 class="w-100 mt-3"><b>Developed By</b>: {{ developerName }} </h2>
        </div>
        
          
      </div>
  </div>

</div>